@media screen and (min-width: 1200px) {
  .balance {
    width: 350px;
    height: 80px;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 8px 30px 13px 30px;
    margin-top: 20px;

    &__title {
      width: 81px;
      height: 13px;
      // font-family: 'Circe';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: #a6a6a6;
    }

    &__total {
      margin-top: 10px;
      width: 175px;
      height: 36px;
      // font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 45px;
      display: flex;
      align-items: center;
      color: #000000;
    }
  }
}
