.registration-form {
    width: 720px;
    height: 720px;
    background: rgba(153, 153, 153, 0.1);
    backdrop-filter: blur(25px);
    
}

.registration-form__fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540px;
    height: 616px;
    margin: 52px 85px 52px 95px;
    background: #FFFFFF;
    border-radius: 20px;
    
}

.ellipseImg2 {
    position: absolute;
    fill: #FFD8D0;
    top: 0;
    left: 725px;
    z-index: -1;
   
    

     
        
    
       
}

.registration-form__list {
    list-style-type: none;
    display: flex;
}

