.registration-page {
    display: flex;
    width: 1280px;
    height: 720px;
    
}

.registration-page__wallet {
    position: relative;
    text-align: center;
    align-items: center;
    width: 560px;
    background: #E7EAF2;
   
   
}

.eclipseImg {
    position: absolute;
    left: 0;
    top: 387px;
    fill: #C5BAFF;
}

.groupImg {
    position: absolute;
    z-index: 1;
    top: 153px;
    left: 90px;
    width: 410;
    height: 413px;
}

.title {
    position: absolute;
    width: 187px;
    height: 45px;
    left: 200px;
    top: 597px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
