@media screen and (min-width: 768px) and (max-width: 1199px) {
  .db {
    position: relative;
    margin: 100px auto;
    padding-top: 80px;
    width: 768px;
    height: 1024px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
    overflow: hidden;

    &__ellipseCoral {
      display: block;
      position: absolute;
      top: -20px;
      right: -200px;
      z-index: -1;
      fill: #ffd8d0;
    }

    &__ellipsePurple {
      position: absolute;
      bottom: 0;
      z-index: -1;
    }
  }
}
