@media screen and (min-width: 1200px) {
  .db {
    position: relative;
    margin: 100px auto;
    padding-top: 80px;
    width: 1280px;
    height: 720px;
    overflow: hidden;

    &__ellipseCoral {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: -1;
      fill: #ffd8d0;
    }

    &__ellipsePurple {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    &__modalButton {
      position: absolute;
      background: transparent;
      right: 85px;
      bottom: 40px;
      width: 44px;
      height: 44px;
      background-image: url(../../image/SVG/ModalButtonAdd.svg);
      background-repeat: no-repeat;
      background-position: -15px -10px;
      border: none;
      border-radius: 50%;
      transition: 100ms;
    }

    &__modalButton:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      cursor: pointer;
    }

    // &__modalbutton:active {
    //   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    // }
  }
}
