@media screen and (min-width: 1200px) {
  .table-tablet {
    width: 700px;
    height: 319px;
    // margin: 0 auto;
  }

  .table-tablet tbody tr th {
    width: 112px;
    height: 27px;
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
  }

  .table-tablet tbody tr td {
    width: 112px;
    height: 52px;
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    align-items: center;
  }

  .table-tablet tbody tr {
    display: flex;
    padding-left: 20px;
    padding-right: 21px;
    justify-content: space-between;
  }

  .table-tablet tbody tr:not(:last-child):not(:first-child) {
    border-bottom: 1px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }

  .table-tablet tbody tr th:nth-child(1),
  .table-tablet tbody tr td:nth-child(1) {
    width: 55px;
  }

  .table-tablet tbody tr th,
  .table-tablet tbody tr td {
    display: flex;
  }

  .table-tablet tbody tr th:nth-child(2),
  .table-tablet tbody tr td:nth-child(2) {
    width: 50px;
    justify-content: center;
  }

  .table-tablet tbody tr th:nth-child(3),
  .table-tablet tbody tr td:nth-child(3),
  .table-tablet tbody tr th:nth-child(4),
  .table-tablet tbody tr td:nth-child(4) {
    width: 118px;
  }

  .table-tablet tbody tr th:nth-child(5),
  .table-tablet tbody tr td:nth-child(5),
  .table-tablet tbody tr th:nth-child(6),
  .table-tablet tbody tr td:nth-child(6) {
    width: 70px;
    justify-content: right;
  }

  .table-tablet tbody tr:nth-child(1) {
    background: #ffffff;
    display: flex;
    height: 50px;
    border-radius: 30px;
    align-items: center;
  }

  .button-add {
    position: absolute;
    background: transparent;
    right: 85px;
    top: 556px;
    width: 44px;
    height: 44px;
    background-image: url(../../image/SVG/ModalButtonAdd.svg);
    background-repeat: no-repeat;
    background-position: -15px -10px;
    border: none;
    border-radius: 50%;
    transition: 100ms;
  }

  .button-add:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
  }
}
