@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    position: fixed;
    display: flex;
    width: 320px;
    height: 60px;
    background: #ffffff;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: -1px;

    &__user {
      display: flex;
      // align-items: center;
      justify-content: right;
      width: 80px;
      height: 24px;
    }

    &__user-name {
      margin: 0;
      color: var(--gray-4, #bdbdbd);
      text-align: right;
      vertical-align: bottom;
      font-family: Circe;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__logout {
      border: none;
      fill: #bdbdbd;
      background-color: transparent;
      transition: 250ms;
      margin-left: 10px;
    }

    &__logout:hover {
      fill: black;
      cursor: pointer;
    }
  }
}
