@media screen and (min-width: 1200px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.25);

    opacity: 0;
    pointer-events: none;
    transition: 500ms;

    &__title {
      // font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 45px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }

    &__content {
      position: relative;
      padding: 40px 64px 60px 66px;
      width: 540px;
      height: 617px;
      background: #ffffff;
      border-radius: 20px;
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__switch {
      margin-top: 40px;
      width: 200px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;

      & label input[type="checkbox"] {
        position: relative;
        box-sizing: border-box;
        width: 80px;
        height: 40px;
        appearance: none;
        outline: none;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 30px;
        transition: 0.5s;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      & label input[type="checkbox"]::before {
        content: "";
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        top: -3px;
        right: -3px;
        background: #ff6596;
        box-shadow: 0px 6px 15px rgba(255, 101, 150, 0.5);
        background-image: url(../../image/SVG/Negative.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transition: 0.5s;
      }

      & label input:checked[type="checkbox"]::before {
        right: 37px;
        background: #24cca7;
        box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5);
        background-image: url(../../image/SVG/Plus.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      & label {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & label span {
        margin: 0 16px;
      }
    }

    &__profit--checked {
      // font-family: "Circe";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #24cca7;
    }

    &__unprofit--checked {
      // font-family: "Circe";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ff6596;
    }

    &__unchecked {
      // font-family: 'Circe';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #e0e0e0;
      transition: 0.2s;
    }

    &-select__control {
      position: relative !important;
      margin-top: 40px;
      width: 410px;
      height: 34px;

      border: none !important;
      border-radius: 0 !important;
      border-bottom: 1px solid #e0e0e0 !important;
      transition: 0.5s !important;

      &:focus {
        border: none !important;
      }

      &:hover {
        cursor: pointer !important;
      }
    }

    &-select__control--is-focused {
      box-shadow: none !important;
      overflow: hidden !important;
    }

    &-select__menu {
      background: transparent !important;
      backdrop-filter: blur(25px) !important;
      border-radius: 20px !important;
      width: 411px !important;
      overflow: hidden !important;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;

      &-list {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        height: 352px !important;
      }
    }

    &-select__option {
      width: 411px !important;
      height: 44px !important;
      // font-family: "Circe" !important;
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 18px !important;
      line-height: 27px !important;
      display: flex !important;
      align-items: center !important;
      color: #000000 !important;
      transition: 0.1s !important;
      overflow-y: hidden !important;

      &:hover {
        cursor: pointer !important;
        background-color: #ffffff !important;
        // font-family: "Circe" !important;
        font-style: normal !important;
        font-weight: 700 !important;
        font-size: 18px !important;
        line-height: 27px !important;
        display: flex !important;
        align-items: center !important;
        color: #ff6596 !important;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
      }
    }

    &-select__indicator-separator {
      display: none !important;
    }

    &-select__placeholder {
      // font-family: "Circe";
      font-style: normal !important;
      font-weight: 400 !important;
      font-size: 18px !important;
      line-height: 27px !important;
      color: #bdbdbd !important;
    }

    &-select__input-container {
      overflow: hidden;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      width: 410px;
      height: 34px;
    }

    &__comment {
      margin-top: 40px;
      width: 410px;
      height: 34px;
      outline: transparent;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      padding: 20px 10px;

      &::placeholder {
        // font-family: "Circe";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #bdbdbd;
      }
    }

    &__pay {
      width: 190px;
      height: 34px;
      outline: transparent;
      border: none;
      border-bottom: 1px solid #e0e0e0;
      padding: 20px 10px;

      &::placeholder {
        text-align: center;
        // font-family: "Circe";
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #bdbdbd;
      }
    }

    &__calendar {
      position: relative;
      width: 190px;
      height: 34px;
      background-image: url(../../image/SVG/Calendar.svg);
      background-repeat: no-repeat;
      background-position: 150px 5px;
      outline: transparent;
      border: none;
      border-bottom: 1px solid #e0e0e0;

      // font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #000000;
      padding: 20px 10px;
      cursor: pointer;
    }

    &__button-add,
    &__button-cancel {
      width: 300px;
      height: 50px;
      border-radius: 20px;
      cursor: pointer;
    }

    &__button-add {
      margin-top: 51px;
      border: 1px solid #24cca7;
      background: #24cca7;
      // font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #ffffff;
      transition: 0.2s;
    }

    &__button-cancel {
      margin-top: 20px;
      background: transparent;
      border: 1px solid #4a56e2;
      // font-family: 'Circe';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #4a56e2;
      transition: 0.2s;
    }

    &__button-cancel:hover,
    &__button-add:hover {
      box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2);
      opacity: 0.6;
    }

    &__button-close {
      position: absolute;
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 50%;
      background-image: url(../../image/SVG/ModalButtonClose.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      top: 20px;
      right: 20px;
      transition: 200ms;
    }

    &__button-close:hover {
      cursor: pointer;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
    }
  }
}
